mypass-flow.json
[
  {
    "id": "mypass-tab",
    "type": "tab",
    "label": "MyPass WiFi Controller",
    "disabled": false,
    "info": "Receives commands from MyPass cloud and changes WiFi password on GL.iNet router"
  },
  {
    "id": "http-in-1",
    "type": "http in",
    "z": "mypass-tab",
    "name": "Receive MyPass Command",
    "url": "/mypass",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 100,
    "wires": [["verify-secret"]]
  },
  {
    "id": "verify-secret",
    "type": "function",
    "z": "mypass-tab",
    "name": "Verify Secret & Route",
    "func": "var secret = 'mypass-secret-2024';\nvar body = msg.payload;\n\nif (body.secret !== secret) {\n    msg.statusCode = 401;\n    msg.payload = {error: 'Invalid secret'};\n    node.send([null, msg]);\n    return;\n}\n\nmsg.action = body.action;\nmsg.ssid = body.ssid || 'MyPass-Guest';\nmsg.password = body.password || '';\nmsg.pass_id = body.pass_id || '';\nmsg.expires_at = body.expires_at || '';\nmsg.duration = body.duration_minutes || 60;\n\nnode.send([msg, null]);",
    "outputs": 2,
    "x": 340,
    "y": 100,
    "wires": [["route-action"], ["http-response-error"]]
  },
  {
    "id": "route-action",
    "type": "switch",
    "z": "mypass-tab",
    "name": "Route by action",
    "property": "action",
    "propertyType": "msg",
    "rules": [
      {"t": "eq", "v": "set_password", "vt": "str"},
      {"t": "eq", "v": "expire", "vt": "str"}
    ],
    "checkall": "false",
    "outputs": 2,
    "x": 560,
    "y": 100,
    "wires": [["build-set-cmd"], ["build-expire-cmd"]]
  },
  {
    "id": "build-set-cmd",
    "type": "function",
    "z": "mypass-tab",
    "name": "Build Set Password Command",
    "func": "// Build OpenWrt UCI commands to change guest WiFi password\n// GL.iNet uses standard OpenWrt with UCI (Unified Configuration Interface)\n\nvar ssid = msg.ssid;\nvar password = msg.password;\nvar duration = msg.duration;\n\n// These UCI commands change the WiFi password and restart the radio\nmsg.payload = [\n    'uci set wireless.guest_radio0.ssid=\"' + ssid + '\"',\n    'uci set wireless.guest_radio0.key=\"' + password + '\"',\n    'uci set wireless.guest_radio0.disabled=0',\n    'uci commit wireless',\n    'wifi reload'\n].join(' && ');\n\nmsg.schedule_minutes = duration;\nnode.send(msg);",
    "x": 780,
    "y": 60,
    "wires": [["exec-ssh"]]
  },
  {
    "id": "build-expire-cmd",
    "type": "function",
    "z": "mypass-tab",
    "name": "Build Expire Command",
    "func": "// Disable guest WiFi when pass expires\nmsg.payload = [\n    'uci set wireless.guest_radio0.disabled=1',\n    'uci commit wireless',\n    'wifi reload'\n].join(' && ');\n\nnode.send(msg);",
    "x": 780,
    "y": 140,
    "wires": [["exec-ssh"]]
  },
  {
    "id": "exec-ssh",
    "type": "exec",
    "z": "mypass-tab",
    "name": "Run on Router (localhost)",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": false,
    "timer": "",
    "winHide": false,
    "x": 1020,
    "y": 100,
    "wires": [["log-success"], ["log-error"], []]
  },
  {
    "id": "log-success",
    "type": "debug",
    "z": "mypass-tab",
    "name": "Success Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1220,
    "y": 60,
    "wires": []
  },
  {
    "id": "log-error",
    "type": "debug",
    "z": "mypass-tab",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1220,
    "y": 140,
    "wires": []
  },
  {
    "id": "http-response-ok",
    "type": "http response",
    "z": "mypass-tab",
    "name": "Send OK",
    "statusCode": "200",
    "headers": {},
    "x": 1220,
    "y": 100,
    "wires": []
  },
  {
    "id": "http-response-error",
    "type": "http response",
    "z": "mypass-tab",
    "name": "Send Error",
    "statusCode": "401",
    "headers": {},
    "x": 560,
    "y": 200,
    "wires": []
  },
  {
    "id": "inject-poll",
    "type": "inject",
    "z": "mypass-tab",
    "name": "Check expiry every 1 min",
    "props": [{"p": "payload"}],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 280,
    "wires": [["poll-cloud"]]
  },
  {
    "id": "poll-cloud",
    "type": "http request",
    "z": "mypass-tab",
    "name": "Poll MyPass Cloud",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://mypass-cloud.onrender.com/api/router/pending-expiry",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "headers": [{"keyType":"str","keyValue":"X-License-Key","valueType":"str","valueValue":"MYPASS-HOME-001"}],
    "x": 400,
    "y": 280,
    "wires": [["check-expired"]]
  },
  {
    "id": "check-expired",
    "type": "function",
    "z": "mypass-tab",
    "name": "Check for expired passes",
    "func": "var body = msg.payload;\nvar expired = body.expired_passes || [];\n\nif (expired.length === 0) return null;\n\n// Disable guest WiFi for each expired pass\nmsg.payload = [\n    'uci set wireless.guest_radio0.disabled=1',\n    'uci commit wireless',\n    'wifi reload'\n].join(' && ');\n\nnode.log('Expiring ' + expired.length + ' passes');\nreturn msg;",
    "x": 640,
    "y": 280,
    "wires": [["exec-ssh"]]
  }
]
